.games {
    margin-top: 3em;
}

.title {
    font-family: Bebas Neue, serif;
    color: var(--color4);
    font-size: 7rem;
}

.listGames {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5vw;
    margin-bottom: 4rem;
    justify-content: center;
    padding: 2rem;
}

.gameItem {
    border-radius: 1em;
    flex: 1 0 30%;
    max-width: 30%;
    box-sizing: border-box;

}

@media (max-width: 768px) {
    .title {
        font-size: 4rem;
        margin: 1rem;
    }

    .listGames {
        gap: 1rem;
        padding: 1rem;
    }

    .gameItem {
        margin: 1em;
        flex-basis: 100%;
        max-width: 100%;
    }
}