.profile {
    margin: 3em 0 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 35vh;
}

.profile_picture {
    border-radius: 18%;
    margin-bottom: 2em;
}

.infos {
    position: relative;
    left: 2em;
    margin-bottom: 2em;
}

.info {
    color: var(--color4);
    font-family: Bebas Neue, serif;
    font-size: 2em;
}

.socials {
    margin-top: 1em;
}

.socialComponent {
    position: relative;
    left: 0.5em;
}


.subtitle {
    color: var(--color4);
    font-family: Bebas Neue, serif;
    font-size: 2em;
    margin-bottom: 0.5em;
}


@media (max-width: 768px) {
    .profile {
        align-items: baseline;
        margin-bottom: 0;
    }
    .socials {
        display: none;
    }

    .switchComponent {
        display: flex;
        position: fixed;
        bottom: 1em;
        justify-content: center;
        align-items: center;
    }
}