.switch {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    margin-top: 1em
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    padding: 4px 13px 4px 13px;
    border-radius: 25px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.image {
    color: var(--color4);
}

@media (max-width: 768px) {
    .switch {
        left: 0;
    }
}