.subtitle {
    font-family: Bebas Neue, serif;
    color: var(--color4);
    font-size: 2rem;
}

.iconItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--color4);
}

.iconList {
    margin-left: 1rem;
    margin-top: 0.5rem;
}