.subtitle {
    font-family: Bebas Neue, serif;
    color: var(--color4);
    font-size: 2rem;
}

.item {
    border: 1px solid var(--tertiary);
    padding: 8px 10px;
    color: var(--color4);
}

.iconList {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .subtitle {
        font-size: 1.5rem;
        margin: 1rem;
    }
}